<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Test</title>
</head>
<body>

  <h2>What Can JavaScript Do?</h2>

  <p> Pease run "./pvs -http" and open "http://localhost:5050/testjavascript_svg.html" with your web browser (firefox/chrome/opera...)</p>
  <img id="surface1" src="test.svg" width="1280pt" alt="please start pvserver with: ./pvs -http"/>
  <p id="demo">JavaScript can change HTML content.</p>

  <!-- -------------------------------------------- -->
  <script language="javascript" type="text/javascript">

  var gOnMouse = 0;
  var gMouseX = 0;
  var gMouseY = 0;
  var gMouseButton = 0;
  var gAlt = 0;
  var gShift = 0;
  var gCtrl = 0;
  var gKeyCode = 0;
  var gTestCounter = 0;

  function mouseDown(event) {
    gOnMouse     = 1;
    gMouseX      = event.clientX;
    gMouseY      = event.clientY;
    gMouseButton = event.button;
    gAlt         = 0;
    gShift       = 0;
    gCtrl        = 0;
    if(event.altKey)   gAlt   = 1;
    if(event.shiftKey) gShift = 1;
    if(event.ctrlKey)  gCtrl  = 1;
    //sendState();
  }

  function mouseUp(event) {
    //gOnMouse     = 0; // see function timeout()
    gMouseX      = event.clientX;
    gMouseY      = event.clientY;
    gMouseButton = event.button;
    gAlt         = 0;
    gShift       = 0;
    gCtrl        = 0;
    if(event.altKey)   gAlt  = 1;
    if(event.shiftKey) gShift = 1;
    if(event.ctrlKey)  gCtrl = 1;
    //sendState();
  }

  function sendState() {
    var el = document.getElementById('surface1');
    var myMouseX = gMouseX + window.pageXOffset - el.offsetLeft; 
    var myMouseY = gMouseY + window.pageYOffset - el.offsetTop; 
    el.src = 'test.svg?onmouse=' + gOnMouse + '&x=' + myMouseX + '&y=' + myMouseY + 
             '&button=' + gMouseButton + 
             '&alt=' + gAlt + '&shift=' + gShift + '&ctrl=' + gCtrl;
  }  

  function keyPress(event)
  {
    var e = window.event || event; 
    gKeyCode = e.charCode;
  }

  function timeout() {
    //location.reload();
    var el = document.getElementById('surface1');
    var myMouseX = gMouseX + window.pageXOffset - el.offsetLeft; 
    var myMouseY = gMouseY + window.pageYOffset - el.offsetTop; 
    el.src = 'test.svg?cnt=' + gTestCounter + 
             '&onmouse=' + gOnMouse + '&x=' + myMouseX + '&y=' + myMouseY  + 
             '&button=' + gMouseButton + 
             '&alt=' + gAlt + '&shift=' + gShift + '&ctrl=' + gCtrl + '&key=' + gKeyCode;
    gTestCounter += 1;
    if(gTestCounter > 10000) gTestCounter = 0;
    gOnMouse = 0;
    gKeyCode = 0;
  }

  document.addEventListener("mouseup", mouseUp);
  document.addEventListener("mousedown", mouseDown);
  document.addEventListener("keypress", keyPress);
  setInterval(timeout, 1000);
  
  </script>
  <!-- -------------------------------------------- -->

</body>
</html>

