<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<META NAME="Description" CONTENT="pvbrowser template">
<META NAME="Keywords" CONTENT="pvbrowser, ProcessViewBrowser, Process Visualizat
ion Browser, HMI, SCADA">
<meta http-equiv="Content-Type" content="text and pictures/html; charset=utf-8
9-1">
<title> pvbrowser template </title>
</head>

<body>

<h2>Menu</h2>

<a href="http://menu.menu1"> Menu1 <a> <br>
<a href="http://menu.menu2"> Menu2 <a> <br>
<a href="http://menu.menu3"> Menu3 <a> <br>

</body>
</html>

